<a href="https://colab.research.google.com/github/kalsun/SupML/blob/main/DataPrep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Import Dataset

In [ ]:
dataset = pd.read_csv('Data.csv')

Prepare Data

In [ ]:
d = {'Country': ["France", "Spain", "Germany", "Spain", "Germany", "France", "Spain", "France", "Germany", "France"]
     , 'Age': [44, 27, 30, 38, 40, 35, , 48, 50, 37]


     }
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4
dataset = pd.DataFrame