<a href="https://colab.research.google.com/github/kalsun/SupML/blob/main/DataPrep2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Import Dataset

In [ ]:
#dataset = pd.read_csv('Data.csv')

Prepare Data

In [5]:
d = {'Country': ['France', 'Spain', 'Germany', 'Spain', 'Germany', 'France', 'Spain', 'France', 'Germany', 'France']
     , 'Age': [44, 27, 30, 38, 40, 35, pd.NA , 48, 50, 37]
     , 'Salary' : [72000, 48000, 54000, 61000, pd.NA  , 58000, 52000, 79000, 83000, 67000 ]
     , 'Purchased' : ['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes']
     }
dataset = pd.DataFrame(data=d)
print(dataset)

   Country   Age Salary Purchased
0   France    44  72000        No
1    Spain    27  48000       Yes
2  Germany    30  54000        No
3    Spain    38  61000        No
4  Germany    40   <NA>       Yes
5   France    35  58000       Yes
6    Spain  <NA>  52000        No
7   France    48  79000       Yes
8  Germany    50  83000        No
9   France    37  67000       Yes